nav{
    background-color: rgb(67, 68, 70);
    color: white;
    padding: 10px 40px 10px 70px;
    border: 5px solid;
    position: relative;
}
nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 600;
    cursor: not-allowed;
}
nav ul div.items{
    display: inline-flex;
    padding: 0 25px;
}
nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
}

nav ul div.items a:hover{
    color: cyan;
    cursor: pointer;
}
nav ul .search-icon{
    height: 30px;
    width: 200px;
    display: inline-flex;
    border-radius: 10px;
    background-color: honeydew;
}
nav ul .search-icon input{
    height: 100%;
    width: 150px;
    border: none;
    outline: none;
    color: black;
    font-size: 16px;
    border-radius: 10px;
}
nav ul .search-icon #buton{
    height: 30px;
    text-align: center;
    color: black;
    border-radius: 10px;
    cursor: pointer;
}
nav ul .search-icon #buton:hover{
    color: white;
    background-color:rgb(52, 53, 58);
}
#searchedItem{
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    margin: 10px;
    padding: 10px;
}
.numbIcon{
    color: black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    width: 20px;
}